[Unit]
Description=Run static ARP mapping script at startup after network becomes reachable
After=network-online.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/local/bin/static_arp_mapping.sh
TimeoutStartSec=0
Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
